<div class="mat-elevation-z8 mt-3 mb-3" >
  <mat-form-field class="ml-3 mt-1">
    <mat-label>Filtrar</mat-label>
    <input type="text" (keyup)="filtrar($event)" matInput>
  </mat-form-field>

  <mat-table [dataSource]="dataSource">
    <ng-container matColumnDef="alumno">
      <mat-header-cell *matHeaderCellDef ><span appEncabezados>Alumno</span></mat-header-cell>
      <mat-cell *matCellDef="let element" class="inactive"> {{element.alumno }} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="dni">
      <mat-header-cell *matHeaderCellDef><span appEncabezados>DNI</span></mat-header-cell>
      <mat-cell *matCellDef="let element" class="inactive"> {{element.dni }} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="cursoid">
      <mat-header-cell *matHeaderCellDef><span appEncabezados>ID CURSO</span></mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.cursoid}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="curso">
      <mat-header-cell *matHeaderCellDef><span appEncabezados>CURSO</span></mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.curso}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="profesor">
      <mat-header-cell *matHeaderCellDef><span appEncabezados>PROFESOR</span></mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.profesor}} </mat-cell>
    </ng-container>


    <ng-container matColumnDef="acciones">
      <mat-header-cell *matHeaderCellDef></mat-header-cell>
      <mat-cell *matCellDef="let element">
          <button mat-icon-button (click)="eliminarInscripcion(element)">
              <mat-icon style="color:#d91313d1">delete</mat-icon>
          </button>
      </mat-cell>
  </ng-container>


    <mat-header-row *matHeaderRowDef="columnas"></mat-header-row>
    <mat-row *matRowDef="let row; columns: columnas;"></mat-row>
  </mat-table>
</div>
