@media(max-width:768px){
  .header{
    display: none;
  }

}
.sidebar{
  background-color: #2e323e;
}


@media(min-width:768px){
  .sidebar{
    height: 100vh;
    position: fixed;
    width: 17%;
    z-index: 1001;
  }

}

.fondo{
  background-image: url('../assets/fondo.png');
  background-size: cover;
  margin:0;
  height: 100vh;
}
