<div mat-dialog-content>
  <form class="form" [formGroup]="formulario">
    <div class="form-group">
      <div class="row">
        <div class="col-lg-6 col-md-6">
          <mat-form-field appearance="legacy">
            <mat-label>Id</mat-label>
            <input matInput formControlName="id" type="text" placeholder="WS000" >
          </mat-form-field>
          <i class="fas fa-check-circle valid-icon" *ngIf="!formulario.get('id')?.errors"></i>
          <i class="fas fa-times-circle invalid-icon" *ngIf="formulario.get('id')?.errors && formulario.get('id')?.touched" ></i>
          <p><small class="alert-text" *ngIf="formulario.get('id')?.errors?.['required'] && formulario.get('id')?.touched" >*Ingresa el Id</small></p>
        </div>

        <div class="col-lg-6 col-md-6">
          <mat-form-field appearance="legacy">
            <mat-label>Titulo</mat-label>
            <input matInput formControlName="titulo" type="text" placeholder="React js" >
          </mat-form-field>
          <i class="fas fa-check-circle valid-icon" *ngIf="!formulario.get('titulo')?.errors"></i>
            <i class="fas fa-times-circle invalid-icon" *ngIf="formulario.get('titulo')?.errors && formulario.get('titulo')?.touched" ></i>
            <p><small class="alert-text" *ngIf="formulario.get('titulo')?.errors?.['required'] && formulario.get('titulo')?.touched" >*Ingresa el titulo</small></p>
        </div>

        <div class="col-lg-6 col-md-6">
          <mat-form-field appearance="legacy">
            <mat-label>Duracion</mat-label>
            <input matInput formControlName="duracion" type="text" placeholder="1 semana" >
          </mat-form-field>
          <i class="fas fa-check-circle valid-icon" *ngIf="!formulario.get('duracion')?.errors"></i>
            <i class="fas fa-times-circle invalid-icon" *ngIf="formulario.get('duracion')?.errors && formulario.get('duracion')?.touched" ></i>
            <p><small class="alert-text" *ngIf="formulario.get('duracion')?.errors?.['required'] && formulario.get('duracion')?.touched" >*Ingresa la duracion</small></p>
        </div>

        <div class="col-lg-6 col-md-6">
          <mat-form-field appearance="legacy">
            <mat-label>Profesor</mat-label>
            <input matInput formControlName="profesor" type="text" placeholder="Juan Perez" >
          </mat-form-field>
          <i class="fas fa-check-circle valid-icon" *ngIf="!formulario.get('profesor')?.errors"></i>
          <i class="fas fa-times-circle invalid-icon" *ngIf="formulario.get('profesor')?.errors && formulario.get('profesor')?.touched" ></i>
          <p><small class="alert-text" *ngIf="formulario.get('profesor')?.errors?.['required'] && formulario.get('profesor')?.touched" >*Ingresa el profesor que dictara el curso</small></p>
        </div>
      </div><!--Row-->
    </div><!--Form group-->
  </form>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="cerrar()">Cerrar</button>
  <button mat-button (click)="actualizar()">Actualizar</button>
</div>
